html, body, header, div, h1 {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

header {
  font-family: arial;
  height:60px;
  line-height: 60px;
}

header h1 {
  text-align: center;
}

main {
  height: calc(100% - 60px);
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  
}

.block1 {
  width: 25%;
  height: 100%;
  background-size: cover;
}

.block1:nth-child(1) {
  background-image: url('img/img1.jpg');
}

.subblock1 {
  width: 100%;
  height: 25%;
  background-size: cover;
}

.subblock1:nth-child(1) {
  background-image: url('img/img2.jpg');
}

.subblock1:nth-child(2) {
  background-image: url('img/img3.jpg');
}

.subblock1:nth-child(3) {
  background-image: url('img/img4.jpg');
}

.subblock1:nth-child(4) {
  background-image: url('img/img5.jpg');
}

.subblock2 {
  width: 100%;
  height: 50%;
  background-size: cover;
}

.subblock2:nth-child(1) {
  background-image: url('img/img6.jpg');
}

.subblock2:nth-child(2) {
  background-image: url('img/img7.jpg');
}

.subblock3 {
  width: 100%;
  height: 25%;
}
